{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Debrief
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">
            <p>
                <b>Thank you for participating in this research!</b>
                In this study, we were interested in how people make
                decisions in single and repeated games: the goal is to
                understand what motivates the decision-making process
                and how single and repeated interactions differ. We
                believe that this research will have important implications
                for our understanding of learning and interacting in group
                as well as for how and why people collaborate with each other.
            </p>

            <p>
                <b>We ask that you do not disclose</b> the details of the 
                study and the research procedures with other potential 
                participants of this study (e.g. via MTurk forums or reddit). 
                Otherwise our research and results could be affected. However, 
                please do feel free to share the link to the HIT with other workers on forums.
            </p>

            <p>
                <b>If you have any questions</b>, please do not hesitate to contact 
                J. Nelle by email at jonasnelle@college.harvard.edu.
            </p>

            <p><b>Thank you again for your participation!</b></p>

        </div>
    </div>

    {% next_button %}

{% endblock %}
