{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Consent
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">
            <p>
                Welcome to this HIT, which is a student project on decision making.
                In this study, you will interact anonymously with others via the computer. 
                You will be faced with a series of decision-making situations.  
                Your participation in this study will take at most 20 minutes.  
                If you have any questions about the study, they will be answered 
                for you via email at jonasnelle@college.harvard.edu.
            </p>

            <p>
                Participants will interact with one another anonymously via the computer.
                Each participant will be faced with a series of decision-making situations.
                At the end of the experiment, you may be asked questions about your
                demographics and your opinions on various issues.
            </p>

            <p>
                For your participation in the study, you will have the opportunity to earn
                up to $1.00 for participating and an additional bonus between $0.00 and
                $3.00, depending on your choices and the choices of other participants.
            </p>

            <p>
                The choices of each participant will affect the payoffs of their partner and
                vice versa. It is possible that a participant will not behave according to what
                would be most beneficial for their partner. The game will be completely
                anonymous and there is no possibility to identify participants.
                Therefore, the risks that this
                experiment entails are anticipated to be minimal or nonexistent.
            </p>

            <p>
                Participation and withdrawal: Your participation in this study is
                completely voluntary, and you may refuse to participate without penalty
                or loss of benefit to which you may otherwise be entitled. Also, you
                may choose to withdraw at any time without penalty or loss of benefit
                to which you may otherwise be entitled.
            </p>

            <p>
                Your data will be kept completely confidential and MTurk IDs will be
                removed before analysis, so that no association may be made between
                individual participants and the resulting data. When the research is
                completed, the data files will be kept unidentifiable and access to
                the data will be strictly limited to our team of researchers.

            <p>
                By continuing with the participation in this study, I agree that I
                have read the description of this study, my questions have been answered
                via email, and I give my consent to participate.
            </p>

            <p>
                For questions concerns or suggestions about this research, please
                contact J. Nelle by email at jonasnelle@college.harvard.edu.
            </p>
        </div>
    </div>

    {% formfields %}

    <div style="margin: 20px"></div>

    {% next_button %}

{% endblock %}
