{% load otree %}
{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">

        <link rel="stylesheet" type="text/css"
              href="{% static 'global/matrix.css' %}"/>

        <p>In this HIT, you are matched with another worker who is also participating in
        this HIT. You will interact with this same worker for the entire task.
        All interactions take place in real time.</p>

        <p style="text-align: center"><strong>Please be considerate of the 
        other worker's time!</strong></p>

        <p>In this task, there are multiple rounds. In each round, you face a simple
        decision: You can either <strong>Cooperate</strong> or <strong>Defect</strong>. 
        Whether you choose to cooperate or defect affects both your payoffs and 
        those of the worker you've been paired with. You will only be able to see
        the other worker's decision after you have submitted yours.</p>

        <p>There will be at least 20 rounds of the paired task. After the 20th
        round, there will be a 50% chance that another round will follow. After
        that round, there will again be a 50% chance that another round will follow,
        and so on, until the paired task ends. When the paired task is over, you will
        see a brief questionnaire before you can submit the HIT.</p>

        </div>
    </div>

    {% include Constants.payoffs_template with payoffs=all_stakes is_ex=False rand_ex=rand_ex %}

    {% include Constants.payoffs_template with payoffs=ex_stakes is_ex=True rand_ex=rand_ex %}

{% endblock %}
