{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <h3> {{ stakes|title }} Stakes Game</h3>

    <p><i>In each cell, the amount to the left is the payoff for
        you and to the right for the other participant.</i></p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        <tr>
            <th rowspan="2" style="vertical-align: middle;"><span>You</span></th>
            <th>Cooperate</th>
            <td>{{payoffs.both_cooperate}}, {{payoffs.both_cooperate}}</td>
            <td>{{payoffs.betrayed}}, {{payoffs.betray}}</td>
        </tr>
        <tr>
            <th>Defect</th>
                <td>{{payoffs.betray}}, {{payoffs.betrayed}}</td>
                <td>{{payoffs.both_defect}}, {{payoffs.both_defect}}</td>
        </tr>
    </table>

</div>
</div>
