{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    <h4 style="text-align:center; margin-bottom:1.5rem">{{stakes|title}} Stakes Game</h4>

    <p>Remember: Your payoffs are listed <i>first</i> (before the comma)</p>

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Other Participant</th>
            </tr>
            <tr>
                <th>Cooperate</th>
                <th>Defect</th>
            </tr>
            <tr>
                <th rowspan="2" style="vertical-align: middle;"><span>You</span></th>
                <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">I will cooperate</button></td>
                <td>{{payoffs.both_cooperate}}, {{payoffs.both_cooperate}}</td>
                <td>{{payoffs.betrayed}}, {{payoffs.betray}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Defect" class="btn btn-primary btn-large">I will defect</button></td>
                <td>{{payoffs.betray}}, {{payoffs.betrayed}}</td>
                <td>{{payoffs.both_defect}}, {{payoffs.both_defect}}</td>
            </tr>
        </table>
    </div>

{% endblock %}
