{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    <div class="form-group required">
        <table class="table table-bordered text-center" style="width: auto; margin: auto">
            <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="2">The Other Participant</th>
            </tr>
            <tr>
                <th>Cooperate</th>
                <th>Defect</th>
            </tr>
            {% if stakes_high %}
            <tr>
                <th rowspan="2"><span>You</span></th>
                <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">I will cooperate</button></td>
                <td>{{ Constants.high_betrayed_payoff }}, {{Constants.high_betray_payoff}}</td>
                <td>{{Constants.high_both_cooperate_payoff}}, {{Constants.high_both_cooperate_payoff}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Defect" class="btn btn-primary btn-large">I will defect</button></td>
                <td>{{Constants.high_betray_payoff}}, {{ Constants.high_betrayed_payoff }}</td>
                <td>{{Constants.high_both_defect_payoff}}, {{Constants.high_both_defect_payoff}}</td>
            </tr>
            {% else %}
            <tr>
                <th rowspan="2"><span>You</span></th>
                <td><button name="decision" value="Cooperate" class="btn btn-primary btn-large">I will cooperate</button></td>
                <td>{{ Constants.low_betrayed_payoff }}, {{Constants.low_betray_payoff}}</td>
                <td>{{Constants.low_both_cooperate_payoff}}, {{Constants.low_both_cooperate_payoff}}</td>
            </tr>
            <tr>
                <td><button name="decision" value="Defect" class="btn btn-primary btn-large">I will defect</button></td>
                <td>{{Constants.low_betray_payoff}}, {{ Constants.low_betrayed_payoff }}</td>
                <td>{{Constants.low_both_defect_payoff}}, {{Constants.low_both_defect_payoff}}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    <!--
    <p>Here you can chat with the other participant.</p>

    {% chat %}
    -->

    {% include Constants.instructions_template with stakes_high=stakes_high %}

{% endblock %}
