{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h3>
        Instructions
    </h3>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>

    <h6> {% if stakes_high %} High {% else %} Low {% endif %} Stakes Game</h6>

    <p>
        In this study, you will be randomly and anonymously paired with another
        participant.
        Each of you simultaneously and privately chooses whether you want to
        cooperate or defect. In addition to determining your payoffs as outlined
        below, if one of you defects, you will also be forced to play a low-stakes
        game in the following rounds. You can only move back to the high-stakes game
        after a round in which you both choose to cooperate. You will play a total 
        of {{Constants.num_rounds}} rounds, all with the same other participant.
    </p>
    <p><i>In each cell, the amount to the left is the payoff for
        you and to the right for the other participant.</i></p>

    <table class='table table-bordered text-center'
           style='width: auto; margin: auto'>
        <tr>
            <th colspan=2 rowspan=2></th>
            <th colspan=2>The Other Participant</th>
        </tr>
        <tr>
            <th>Cooperate</th>
            <th>Defect</th>
        </tr>
        {% if stakes_high %}
        <tr>
            <th rowspan=2><span style="transform: rotate(-90deg);">You</span></th>
            <th>Cooperate</th>
            <td>{{ Constants.high_both_cooperate_payoff }}, {{ Constants.high_both_cooperate_payoff }}</td>
            <td>{{ Constants.high_betrayed_payoff }}, {{ Constants.high_betray_payoff }}</td>
        </tr>
        <tr>
            <th>Defect</th>
            <td>{{ Constants.high_betray_payoff }}, {{ Constants.high_betrayed_payoff }}</td>
            <td>{{ Constants.high_both_defect_payoff }}, {{ Constants.high_both_defect_payoff }}</td>
        </tr>
        {% else %}
        <tr>
            <th rowspan=2><span style="transform: rotate(-90deg);">You</span></th>
            <th>Cooperate</th>
            <td>{{ Constants.low_both_cooperate_payoff }}, {{ Constants.low_both_cooperate_payoff }}</td>
            <td>{{ Constants.low_betrayed_payoff }}, {{ Constants.low_betray_payoff }}</td>
        </tr>
        <tr>
            <th>Defect</th>
            <td>{{ Constants.low_betray_payoff }}, {{ Constants.low_betrayed_payoff }}</td>
            <td>{{ Constants.low_both_defect_payoff }}, {{ Constants.low_both_defect_payoff }}</td>
        </tr>
        {% endif %}

        
    </table>

</div>
</div>
